* {
    box-sizing: border-box;
    margin: 0;
  	padding: 0;
}

header, main, footer {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    border: 1px solid black;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0fr 1fr;
}
.contactDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.contactDetails p, h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

h1 {
    font-size: 1.2rem;
}

.navbar {
    border: 1px solid red;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1rem;
}